*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
*,
*::before
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0%;
}
body{
    background:linear-gradient(135deg, rgb(32, 148, 231),rgb(138, 190, 228),rgb(143, 161, 161)) ;
    
}
.wrapper{
    display: flex;
align-items: center;
height: 100vh;
justify-content: center;



}
.calculator{
    background: #3a4452;
    padding: 10px;
    border-radius: 20px;
    width: 230px;
    height: 475px;
    backdrop-filter: blur(10px);
}
.screen{
    
        background-color: rgba(86, 83, 83, 0.187);
        width: 200px;
        height: 180px;
        display: flex;
        border-radius: 20px;
        justify-content: right;
        font-size: 24px;
        
        border-radius: 5px;
        margin: 10px auto; /* Centers the screen */
    
    
}
.calc-button{
    width: 43px;
    height: 43px;
    border-radius: 10px;
    background: rgba(239, 242, 242, 0.272);
    color: rgb(255, 255, 255);
    
    
}
.calc-button-raw{
    
    padding:3px  ;
    display: flex;
    justify-content: space-evenly;
    
}
.calc-button-double{
    width: 93px;
    height: 43px;
    border-radius: 10px;
    flex-basis: 47%;
    background-color: rgb(177, 78, 39);
    color: aliceblue;
}

.calc-button-triple{
    width: 90px;
    border-radius: 10px;
    background-color: rgb(129, 130, 130);
    color: aliceblue;

}
.bl{
    background-color: rgb(17, 100, 195);
}