*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
*,
*::before
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0%;
}
body{
    background:linear-gradient(135deg, rgb(6, 97, 162),rgb(57, 154, 224),rgb(143, 161, 161)) ;
    
}
.wrapper{
    display: flex;
align-items: center;
height: 100vh;
justify-content: center;


}
.calculator{
    background-color: rgba(252, 255, 255, 0.185);
    padding: 10px;
    margin: 10px;
}